const ENV = {
  development: {
    ANDROID_CLIENT_ID: "",
    IOS_CLIENT_ID: "",
    API_KEY: "",
    AUTH_DOMAIN: "",
    DATABASE_URL: "",
    PROJECT_ID: "",
    STORAGE_BUCKET: "",
    MESSAGING_SENDER_ID: ""
  },
  production: {
    ANDROID_CLIENT_ID: "",
    IOS_CLIENT_ID: "",
    API_KEY: "",
    AUTH_DOMAIN: "",
    DATABASE_URL: "",
    PROJECT_ID: "",
    STORAGE_BUCKET: "",
    MESSAGING_SENDER_ID: ""
  }
};

const environment = __DEV__ ? "development" : "production";

export default ENV[environment];
